.cart-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
  }
  
  .cart-modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }
  
  .cart-modal h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
  }
  
  .cart-modal ul {
    list-style: none;
    padding: 0;
  }
  
  .cart-modal ul li {
    padding: 5px 0;
    font-size: 1rem;
  }
  .cart-modal ul button {
    padding: 5px 0;
    font-size: 1rem;
  }
  
  .cart-actions {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
  }
  
  .cart-actions button {
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .cart-actions button:first-child {
    background: #fcfcfc;
  }

  .cart-actions button:first-child:hover {
    background: #5e5d5d;
  }
  
  .cart-actions button:last-child {
    background: #28a745;
    color: white;
  }
  
  .cart-actions button:last-child:hover {
    background: #12421e;
  }
 
  .cart-item{
    display: flex;
    justify-content: space-between;
  }

  .cart-item button{
    all:unset;
    color: rgb(150, 2, 2);
  }

  
  .cart-item button:hover{
    color: red;
    text-shadow: 0 0 8px rgb(240, 150, 150);
  }